@CHARSET "ISO-8859-1";
 @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i');

body{
	font-family:'Open Sans', sans-serif;
	font-weight: normal;
	background-color:white;
  color: #4c585d;
}
.footer{
  padding-top: 18px;
}
.sectionFooter{
	background-color: #676b6e;
	border-color: 1px solid #676b6e;
  background-size:cover;
  padding-top: 15px;
}
h4{
    line-height: 1.4em;
}
div{
  background-color: transparent;
}

.imgBrand{
  width: 180px;
  position : absolute;
  background-color: transparent;
}
.imgBrandScrolled{
  width: 90px;
  position : fixed;
  left : 10px;
}

.fullwidth{
   text-align: justify;
   height: 14px;
}
.fullwidth:after{
  content: "";
  display: inline-block;
  width: 100%;
}


/**Le bandeau d'image**/
.bandeau-container{
  position:relative;
  height:300px;
  top:0;
  left:0;
}
.bandeau-container > .img-src{
    height:300px;
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center center;
}

/** Mes cadres de pr�sentation dans la page **/
.sectionCentree{
  width: 750px;
	border: 1px solid /*cyan*/ none;
	margin: auto; /* On peut donc demander � ce que le bloc soit centr� avec auto */
	clear:both;
  vertical-align:bottom !important;
}

/** Les cadres larges type bandeau dans lequel on souhaite y �crire **/
.bckgrdVagueTurquoise{
	border: 1px solid white;
	min-height: 200px;
	margin: auto; /* On peut donc demander � ce que le bloc soit centr� avec auto */
	background :url("../images/vague turquoise.jpg") no-repeat;
  background-size: 100% 100%;
	clear:both;
}

.txtGris{
	color: #4c585d;
}

.main{
    background-color: transparent;
    position: relative;
}

.space-200{
    height: 200px;
}

#etoilesBckg{
    /*background-image:url("../images/etoile_grande.jpg"), url("../images/etoile_petite.jpg");*/
    background-position: right bottom, left top;
    background-repeat: no-repeat;
}
.liPiedPage{
  display: inline;
  list-style: none; /* pour enlever les puces sur IE7 */
  margin: 10px;
}





/**partie formulaire**/
form {
 background-color:transparent;
 font-family: Open sans, monOpenSans;
 }
fieldset {
 padding:0px 0px 20px;
 margin-bottom:10px;
 border:1px solid #d8d8d8;
 }
legend {
 color:#676b6e;
 font-weight:bold
 }
label {
 margin-top:10px;
 display:block;
 }
label.inline {
 display:inline;
 margin-right:50px;
 }
input, textarea, select, option {
 background-color:transparent;
 font-family: Open sans, monOpenSans;
 }
input, textarea, select {
	font-family: Open sans, monOpenSans;
 padding:5px;
 width:100%;
 border:1px solid #e9e9e9;
 border-radius:5px;
 box-shadow:1px 1px 3px #d4d4d4 inset;
 }
select {
 margin-top:10px;
 }
input[type=radio] {
 background-color:transparent;
 border:none;
 width:10px;
 }
input[type=submit], input[type=reset] {
 float:right;
 margin-left:5px;
 width:auto;
 background-color:#009cac;
 color:white;
 box-shadow:1px 1px 1px #d4d4d4;
 cursor:pointer;
 }

@media screen and (max-width: 850px) {
  .bckgrdVagueTurquoise{
    width:100%;
    height:auto;
    background-size:100% 100%;
  }
  .imgBrand{
    width: 120px;
  }
}

@media screen and (max-width: 701px) {
  .imgBrandScrolled{
    display: none;
  }
  .notShortScreen{
    display: none;
  }
  /**Affichage des liens reseaux sociaux**/
  .reseauSociaux{
    position: fixed;
    bottom: 10%;
    left: 0px;
  }
}

@media screen and (max-width: 1800px) {
}
